<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Speedy Food | POS - Customer Order System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- ================== BEGIN core-css ================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" />
    <!-- ================== END core-css ================== -->
    
</head>
<body class='pace-top'>
    <!-- BEGIN #app -->
	<div id="app" class="app app-content-full-width" style="margin-top: -3.5rem;">
        <!-- BEGIN #header -->
		{% include "Customer/_Header.html" %}
		<!-- END #header -->
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<!-- BEGIN #Message -->
			<div class="field">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" style="margin-top: 3%;" role="alert">
								<strong>{{ category }} !</strong> {{ message|capitalize }}.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<!-- END #Message -->
            <hr class="mb-4">
            
            
            <div class="card border-theme bg-theme bg-opacity-25 mb-5">
                <div class="card-header border-theme bg-theme bg-opacity-25 fw-bold small text-body"><a style="font-size: 20px;">UPDATE PROFILE</a></div>
                <!-- BEGIN #datatable -->
                <div id="datatable" class="mb-1">
                    <div class="card">
                        <div class="card-body">
                            <table id="datatableDefault" class="table text-nowrap w-100">
                                <thead>
                                   <tr>
                                      <th>UserName</th>
                                      <th>Full Name</th>
                                      <th>Date</th>
                                      <th>Role_Description</th>
                                      <th>Phone</th>
                                      <th>Gender</th>
                                      <th>Edit</th>
                                      <th>Change Password</th>
                                      <th>Disable / Enable</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{customer_data_retrieve.cust_user_name}}</td>
                                        <td>{{customer_data_retrieve.cust_full_name}}</td>
                                        <td>{{customer_data_retrieve.cust_registrationDate}}</td>
                                        <td>{{customer_data_retrieve.cust_rol_name}}</td>
                                        <td>{{customer_data_retrieve.cust_phone}}</td>
                                        <td>{{customer_data_retrieve.cust_gender}}</td>
                                        <td>
                                           <a href="#" data-bs-toggle="modal" data-bs-target="#updateCustomerModal{{ customer_data_retrieve.cust_id }}" class="btn btn-success btn-circle btn-sm">
                                              <i class="fa fa-edit"></i>
                                           </a>
                                        </td>
                                        <td>
                                           <a href="#" data-bs-toggle="modal" data-bs-target="#changePassCustomerModal{{ customer_data_retrieve.cust_id }}" class="btn btn-primary btn-circle btn-sm">
                                              <i class="fa fa-edit"> Password</i>
                                           </a>
                                        </td>
                                        <td>
                                           {% if customer_data_retrieve.isActive == 1 %}
                                           <a href="{{url_for('customer_side_disable_role', CustId=customer_data_retrieve.cust_id)}}" class="btn btn-danger btn-circle btn-sm">
                                              <i class="fa fa-trash"> Disable Now</i>
                                           </a>
                                           {% else %}
                                           <a href="{{url_for('customer_side_enable_role', CustId=customer_data_retrieve.cust_id)}}" class="btn btn-success btn-circle btn-sm">
                                              <i class="fa fa-handshake"> Enable Now</i>
                                           </a>
                                           {% endif %}
                                        </td>
                                    </tr>
                                   
                                    <!-- Add a modal for Update New Customer -->
                                    <div class="modal fade" id="updateCustomerModal{{ customer_data_retrieve.cust_id }}">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <!-- START #Form to Add Customer -->
                                                <form action="{{url_for('customer_side_for_update', CustId=customer_data_retrieve.cust_id)}}" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Update End User</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row mt-3">
                                                            <div class="col-md-6">
                                                                <label for="exampleInputRD" style="color: black;"><b>UserName *</b></label>
                                                                <input type="text" class="form-control" name="user_name" value="{{customer_data_retrieve.cust_user_name}}" placeholder="UserName" required/>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="exampleInputRD" style="color: black;"><b>Full Name *</b></label>
                                                                <input type="text" class="form-control" name="full_name" value="{{customer_data_retrieve.cust_full_name}}" placeholder="Customer Full Name" required/>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-md-6">
                                                                <label for="exampleInputRD" style="color: black;"><b>Phone No *</b></label>
                                                                <input type="text" class="form-control" name="phone" value="{{customer_data_retrieve.cust_phone}}" placeholder="03xxxxxxxxx" onkeypress="return onlyNumberKey(event)" maxlength="11" required/>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="exampleInputRD" style="color: black;"><b>Gender *</b></label>
                                                                <select name="gender" class="form-control" required>
                                                                <option value="{{ customer_data_retrieve.cust_gender }}" style="background-color: rgb(0, 255, 17);" selected>{{ customer_data_retrieve.cust_gender }}</option>
                                                                <option value="Male" selected>Male</option>
                                                                <option value="Female">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update End User</button>
                                                    </div>
                                                </form>
                                                <!--END #Form to Add Customer -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Modal for Update New Customer -->
            
                                    <!-- Add a modal for Update Password -->
                                    <div class="modal fade" id="changePassCustomerModal{{ customer_data_retrieve.cust_id }}">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <!-- START #Form to Add Customer -->
                                                <form action="{{url_for('change_password_customer_side', CustId=customer_data_retrieve.cust_id)}}" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Change Password</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="exampleInputRD" style="color: black;"><b>Password *</b></label>
                                                                <input type="password" class="form-control" name="password" placeholder="************" required />
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-md-12">
                                                                <label for="exampleInputRD" style="color: black;"><b>Conform Password *</b></label>
                                                                <input type="password" class="form-control" name="conform_password" placeholder="************" required />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                                    </div>
                                                </form>
                                                <!--END #Form to Add Customer -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Modal for Update Password -->
                                </tbody>
                             </table>
                        </div>
                    </div>
                </div>
                <!-- END #datatable -->
            </div>

		</div>
		<!-- END #content -->
		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->
	</div>
	<!-- END #app -->

	
	<!-- ================== BEGIN core-js ================== -->
	<script src="{{ url_for('static', filename='js/vendor.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
	<!-- ================== END core-js ================== -->

	<!-- ================== BEGIN use for add to card data ================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- ================== END BEGIN use for add to card data ================== -->

	<!-- ================== BEGIN page-js ================== -->
	<script src="{{ url_for('static', filename='js/demo/pos-customer-order.demo.js') }}"></script>
	<!-- ================== END page-js ================== -->
	
</body>
</html>
