<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header">Navigation</div>
            <div class="menu-item active">
                <a href="/admin_dashboard" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-laptop"></i></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/add_district" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-flag"></i></span>
                    <span class="menu-text">Add District</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/add_restaurant_name" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-bank"></i></span>
                    <span class="menu-text">Add Restaurant Name</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/role" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-user"></i></span>
                    <span class="menu-text">Managers</span>
                </a>
            </div>
            <!-- Manager -->
            <div class="menu-item">
                <a href="/add_product_category" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-cubes"></i></span>
                    <span class="menu-text">Add Product Category</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/add_product" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-plus-square"></i></span>
                    <span class="menu-text">Add Product</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/update_stock" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-braille"></i></span>
                    <span class="menu-text">Update Product Stock</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/add_table" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-bed"></i></span>
                    <span class="menu-text">Restaurant Table</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/verify_payment" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-bed"></i></span>
                    <span class="menu-text">Verify Order</span>
                </a>
            </div>
                    
            <div class="p-3 px-4 mt-auto hide-on-minified">
                <a href="/logout" class="btn btn-secondary d-block w-100 fw-600 rounded-pill">
                    <i class="fa fa-sign-out-alt me-1 ms-n1 opacity-5"></i> Logout
                </a>
            </div>
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->

    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
    <!-- END mobile-sidebar-backdrop -->
</div>
<!-- END #sidebar -->