<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Speedy Food</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- ================== BEGIN core-css ================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css') }}" type="text/css" />
	<!-- ================== END core-css ================== -->

</head>

<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN login -->
		<div class="login">
			<!-- BEGIN login-content -->
			<div class="login-content">
				<!-- BEGIN Message-Show -->
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
								<strong>{{ category|capitalize }}!</strong> {{ message|capitalize }}.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<!-- End Message-Show -->
				<div class="">
					<div class="card border-theme bg-gray-600 bg-opacity-5 mb-3">
						<div class="card-header border-theme bg-gray-600 bg-opacity-5 fw-bold small text-body">
							<h1 class="text-center">Admin Sign In <i class="fas fa-lg fa-fw me-2 fa-utensils"></i></h1>
							<div class="text-muted text-center mb-4">
								For your protection, please verify your identity.
							</div>
						</div>
						<div class="card-body">
							<form action="/admin_login" method="POST" name="login_form">
								<div class="mb-3">
									<label class="form-label">CNIC</label>
										<input type="text" class="form-control form-control-lg fs-15px" name="cnic" placeholder="xxxxxxxxxxxxx" onkeypress="return onlyNumberKey(event)"
                              maxlength="13" />
								</div>
								<div class="mb-3">
									<div class="d-flex">
										<label class="form-label">Password</label>
									</div>
									<input type="password" class="form-control form-control-lg fs-15px" name="password"
										placeholder="Enter your password">
								</div>
								<button type="submit" class="btn btn-theme btn-lg d-block w-100 fw-500 mb-3">Sign In <i
										class="fas fa-lg fa-fw me-2 fa-sign-in-alt"></i>
								</button>
								<div class="text-center text-muted">
									Go To Customer Dashboard? <a href="/">Customer Dashboard</a>.
								</div>
							
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- END login-content -->
		</div>
		<!-- END login -->

		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->
		<!-- BEGIN theme-panel -->
		<!-- END theme-panel -->
	</div>
	<!-- END #app -->

	<!-- ================== BEGIN core-js ================== -->
	<script src="{{ url_for('static', filename='js/vendor.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
	<!-- ================== END core-js ================== -->
	<!--  Only ASCII character in that range allowed -->
	<script>
		function onlyNumberKey(evt) {
			
			// Only ASCII character in that range allowed
			var ASCIICode = (evt.which) ? evt.which : evt.keyCode
			if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
				return false;
			return true;
		}
	</script>
	<!-- ================== End #Only ASCII character in that range allowed" ================== -->


</body>

</html>